.App {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
}



.navBar {
  background: #294680;
  font-family: inherit;
}

.navBar_content {
  position: relative;
}

.logo {
  color: white;
}

.logo:hover {
  cursor: pointer;
}

.navButton {
  padding: 1rem;
  font-weight: bold;
  font-size: 60%;
  margin: 1%;
  color: white;
  border: 1px solid white;
  background: #294680;
  
  border-radius: 5px;
}

.navButton:hover {
  cursor: pointer;
  color: #294680;
  background: white;
  transition: 0.5s;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px rgb(192, 189, 189);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
}

.card_image {
  position: relative;
  height: 12rem;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.card_info {
  position: relative;
  background: white;
  z-index: 1;
}

.card_image:hover {
  transform: scale(1.1);
  transition: 1s
}

.card_title {
  margin: 1rem;
}



.card_description {
  margin: auto;
  font-style: italic;
}

.card_user {
  margin: 0.5rem 0rem 0.5rem 1rem;
  text-align: left;
}

.card_btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.card_btn:hover {
  cursor: pointer;
  color: white;
  background: #294680;
  transition: 0.5s;
}

.my_card_edit {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.75rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.my_card_delete {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.75rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.my_card_edit:hover {
  cursor: pointer;
  color: white;
  background: #294680;
  transition: 0.5s;
}

.my_card_delete:hover {
  cursor: pointer;
  color: white;
  background: red;
  border: 2px solid red;
  transition: 0.5s;
}

.profile_header {
  color: #294680;
}

/* LOGIN */

.login_wrapper {
  position: absolute;
  background:#294680;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login_logo {
  color: white;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10%
}

.login_form {
  position: relative;
  margin: 0% 15% 0% 15%;
  background: white;
  border-radius: 5px;
  display: grid;
  text-align: center;
  color: #294680;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  
}

.login_input {
  margin: 1rem 2rem 1rem 2rem;
  height: 60%;
  position: relative;
  display: inline-block;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login_btn {
  position: relative;
  padding: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.login_btn:hover {
  cursor: pointer;
  color: white;
  background: #294680;
  transition: 0.5s;
}

.login_form_switch {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: white;
}

.login_btn_switch {
  height: 35px;
  width: 70px;
  border: 2px solid white;
  border-radius: 5px;
}

.login_btn_switch:hover {
  cursor: pointer;
}

/* SIGNUP */

.signup_form {
  position: relative;
  margin: 0% 15% 0% 15%;
  background: white;
  border-radius: 5px;
  display: grid;
  text-align: center;
  color: #294680;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  
}

.signup_input {
  margin: 1rem 2rem 1rem 2rem;
  height: 60%;
  position: relative;
  display: inline-block;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signup_btn {
  padding: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.signup_btn:hover {
  cursor: pointer;
  color: white;
  background: #294680;
  transition: 0.5s;
}

/* SEARCH */

.search_inputs{
  margin: 2rem;
  display: flex;
}

.search input {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.search_icon {
  height: 60px;
  width: 50px;
  background-color: white;
  border: 2px solid black;
  display: grid;
  place-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* EXPANDED */

.expanded_wrapper {
  margin: 2%;
}

.expanded_header {
  background: #294680;
  color: white;
  width: 100%;
  margin: 0%;
}

.expanded_title {
  margin: 2%;
  text-align: left;
  padding-top: 2%;
}

.expanded_description {
  margin: 2%;
  text-align: left;
  font-style: italic;
}
  
.expanded_user {
  margin: 2%;    
  text-align: left;
  font-style: italic;
  padding-bottom: 2%;
}

.expanded_image {
  width: 60%;
  object-fit: cover;
  float: center;
  border: 2px solid #294680;
  border-radius: 2%;
  padding: 1%;
  margin-top: 2%;
}

.expanded_ingredients {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 75%;
  object-fit: cover;
  border: 2px solid #294680;
  border-radius: 5px;
  padding: 0%;
  margin: 2% 0% 0% 0%;

}

.expanded_instructions {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 75%;
  object-fit: cover;
  border: 2px solid #294680;
  border-radius: 5px;
  padding: 0%;
  margin: 2% 0% 0% 0%;
}

.expanded_text_head {
  color:#294680;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2% 0% 0% 0%;
}

/* NEW RECIPE */

.recipe_form_header {
  color: #294680;
  text-decoration: underline;
}

.recipe_input {
  margin: 1rem 2rem 1rem 2rem;
  height: 60%;
  width: 70%;
  position: relative;
  display: inline-block;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.remove_button {
  color: red;
  background: white;
  border: 2px solid red;
  border-radius: 5px;
}

.remove_button:hover {
  cursor: pointer;
}

.button_add {
  color: #294680;
  background: white;
  border: 2px solid #294680;
  border-radius: 5px;
}

.button_add:hover {
  cursor: pointer;
}

.submit_recipe_btn {
  padding: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #294680;
  background: transparent;
  color: #294680;
  border-radius: 5px;
}

.submit_recipe_btn:hover {
  cursor: pointer;
  color: white;
  background: #294680;
  transition: 0.5s;
}